<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>


</head>
<body>
<div th:fragment="footer" style="margin-top: 50px">

    <div class="container">

        <footer>
        <!-- this is footer -->
        &copy; Sistema de Contatos
            <span sec:authorize="isAuthenticated()">
                | User: <span sec:authentication="name"></span> |
                <a th:href="@{/logout}">Sair</a>
            </span>
            
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
	<script src="../../js/jquery.mask.js" type="text/javascript"></script>
	            
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

                
      <script type="text/javascript"
                src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>      

        </footer>
    </div>

</div>
</body>
</html>