<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sistema de contatos </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<!-- cabeçalho da aplicação -->
<div th:replace="fragments/header :: header"/>

<div class="container">


    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/login}" method="post">
              
                
                <fieldset>
                   
                     <p style="text-align:center">
                     <img  style="text-align:center" src="../static/images/logo.png" width="150" th:src="@{/images/logo.png}"/>
                    
                    </p>
                    <p style="text-align:center">Bem Vindo ao Sistema de Contatos
                    </p>
        			
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Contato ou senha inválida.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            Você foi deslogado da aplicação.
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control input-lg"
                               placeholder="Login" required="true" autofocus="true"  />
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg"
                               placeholder="Senha" required="true" />
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Acessar"/>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4" style="margin-left: -20px;">
							<input  class="btn btn-lg btn-outline-secondary" type="reset" value="Limpar"/>
                        
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

<!-- Rodapé da aplicação -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>